* {
  margin: 0;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 200px;
  height: 100vh;
  background-color: #f5ee84;
}

ul {
  padding-left: 0;
}

h2 {
  text-align: center;
  padding: 10px 0;
}

.main {
  width: 81vw;
  min-height: 100vh;
  padding-left: 240px;
  margin: 0;
  background-color: #fbf8cc;
}

.link {
  border-radius: 4px;
  padding: 5px 15px;
  text-decoration: none;
  transition-duration: .3s;
}

.link:hover {
  background-color: #efefef;
}

link:visited {
  color: inherit;
}