* {
  margin: 0;
}

.app {
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 150px;
  height: 100vh;
  background-color: lightgoldenrodyellow;
}


.main {
  background-color: aqua;
  margin-left: 200px;
}

.link {
  border-radius: 4px;
  padding: 5px 10px;
  text-decoration: none;
  transition-duration: .3s;
}

.link:hover {
  background-color: #efefef;
}

link:visited {
  color: inherit;
}